<html>
<!-- Prithviraj Jadhav 2015-->
	<head>

		<title>{{sitename}}</title>
		
		<!-- link all CSS files here -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
 
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{%  static "bootstrap.min.css" %}" >
		<link rel="stylesheet" type="text/css" href="{% static "custom.css" %}" >
 
	</head>

	<body>
	<!-- Bootstrap nav bar separately written for modularity and easy accessibility-->
	{% include 'navigation.html' %}

	{% block content %}

	<!-- All the content from the other templates is sent here. Make sure to include "content" block on other templates. -->

	{% endblock %}
	</body>

	<!--All Javascript files are loaded at the end after page has completely loaded -->
	<script src="{% static "app.js" %}"></script>
	<script src="{% static "jquery-2.1.4.js" %}"></script>
</html>